# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\text\gitDemo\Git-TestDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
